@import "../styles/colors.scss";

// flexbox
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}

// padding
.pa20 {
  padding: 20px;
}

// margin
.mh-auto {
  margin: 0 auto;
}
.ml8 {
  margin-left: 8px;
}
.mt4 {
  margin-top: 4px;
}
.mb50 {
  margin-bottom: 50px;
}

// color
.c-grey-a7 {
  color: $color-grey-a7;
}
.c-black {
  color: $color-black;
}

// font-weight
.fw7 {
  font-weight: 700;
}

// cursor
.pointer {
  cursor: pointer;
}
